/*Estilizando rich-texts*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
.paragraph{
    color: #ffffff;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}