.footerLayout--footer {
    background-color: #212121;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 999;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}